*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
COLOR PALLETE
#03045E
#0077B6
#00B4D8
#90E0EF
#CAF0F8

*/

/* Test Colors

#73C2FB - Maya Blue - Good
#4C516D - Indenpendence Blue - Serious Color - Its okay
#00356B - Yale Blue - Dark Mode Blue?
#AFDBF5 - Uranian Blue - Light Mode Blue - Good
#6C3082 - Good Purple 
#FF8F00 - Princeton Orange - it exists
#ED8E4A - Desert Orange - it exists too
#6C3082 ,#ED8E4A - Good Combination


*/

body{
  overflow-x: hidden;
  /* background-color: #90E0EF;
  background-image: linear-gradient(/* to bottom right *//* ,#0077B6 #00B4D8,#90E0EF,#00B4D8);
   */
  background-image: linear-gradient(to right,#6C3082 ,#ED8E4A) ;
} 

.page-grid{
  display: grid;
  gap: 20px;
}

.main-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr minmax(280px,1200px) 1fr;
}

.align-middle{
    grid-column: 2/3;
}

.frame{
  overflow: hidden;
    
}
article{
  border: 2px solid #333;
  padding: 4px;
  background-color: #AFDBF5;
}

.content-grid{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
}

.main-content img:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.main-content img{
  width:100%;
  transition:0.5s;

}

.overlay{
  background-color: #00000050;
  
}

.hero{background: url(./pictures/default_image.webp) center 70%/cover no-repeat;
    height: 400px; color: white; 
    text-align: center;
    display: grid;
    text-transform: uppercase;
    }

/* img{
  transition: transform 2s;
}
img:hover{
  transform: scale(1.4);
} */



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    min-height: 100px;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
  }
  
  .space{
    width: 100vw;
    height: 10vh;
  }

  .logo {
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    z-index: 2;
  }
  
  .nav-links li {
    list-style: none;
    font-size: 1.5em;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }

  .nav-links a:hover{
    padding-bottom: 10px;
    border-bottom: solid #fff 2px;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      width: 60%;
    }
    .main-grid{
        grid-template-columns: 1fr minmax(280px,1200px) 1fr;
    }
  }
  
  @media screen and (max-width: 576px) {
    body {
      overflow-x: hidden;
    }
  
    .nav-links {
      position: absolute;
      right: 0px;
      height: 50vh;
      top: 8vh;
      background-color: #333;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
  
    .nav-links li {
      opacity: 0;
    }
  
    .burger {
      display: block;
    }
  }
  
  .nav-active {
    transform: translateX(0%);
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-in;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(50%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 1;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}